<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
</head>
<body>
<h1>Upcoming Events</h1>
<ul>
    <li><a th:href="@{/events/design}">Design UX/UI Event</a></li>
    <li><a th:href="@{/events/chess}">Chess Event</a></li>
    <li><a th:href="@{/events/battles}">Battles Event</a></li>
    <li><a th:href="@{/events/movies}">Movies Event</a></li>
    <li><a th:href="@{/events/games}">Games Event</a></li>
    <li><a th:href="@{/events/it}">It Event</a></li>
    <!-- Добавьте ссылки для других мероприятий -->
</ul>
</body>
</html>